# Игнорирование файлов и папок, созданных операционной системой
.DS_Store
Thumbs.db

# Игнорирование файлов и папок, созданных IDE
.idea/
.vscode/

# Игнорирование файлов окружения и зависимостей
.env
.env.*
venv/
node_modules/

# Игнорирование файлов сборки и временных файлов
build/
dist/
*.pyc
*.pyo
*.pyd
*.swp
*.log
*.tmp

# Игнорирование файлов конфигурации
config.ini
config.yml